body {
    display: flex;
    justify-content: center;
    height: 100%;
}

.cards {
    width: 400px;
    height: 300px;
}

.cards:nth-child(1) {
    background-image: url(assets/ecommerce1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards:nth-child(2) {
    background-image: url(assets/ecommerce2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards:nth-child(3) {
    background-image: url(assets/ecommerce3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards:nth-child(4) {
    background-image: url(assets/ecommerce4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}