body {
    background-color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 10px;
}

#card1 {
    background-image: url(assets/ecommerce1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 280px;
}

#card2 {
    background-image: url(assets/ecommerce2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 280px;
}

#card3 {
    background-image: url(assets/ecommerce3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 650px;
}

#card4 {
    background-image: url(assets/ecommerce4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 350px;
}

#main-container {
    height: 70vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 280px 280px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / span;
}

.overlay1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 280px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.card-title {
    font-family: 'Rokkitt', serif;
    font-size: 2.8em;;
    margin: 0;
}

.card-text {
    font-family: 'Arimo', sans-serif;
    font-size: 1.2em;
}
